:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: monospace;
  }
  
  header {
    color: white;
    height: 60px;
    background-color: black;
    text-align: center;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    height: 60px;
    color: white;
    background-color: black;
    text-align: center;
  }
